.logo {
  width: 40px;
}

a {
  color: black !important;
}

a.active {
  text-decoration: underline;
}

.navbar {
  position: relative;
  z-index: 1000;
}

/* Footer */

footer {
  color: black;
  font-size: 12pt;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
}

footer a {
  color: black !important;
}

.footer-link {
  margin-left: 5px;
  margin-right: 5px;
}

body {
  margin: 0;
  padding: 0;
  color: black !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: blueviolet !important;
}

/* Home Styling */

.home-containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel {
  width: 600px;
}

.carousel-inner {
  background-color: white;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  filter: invert(1);
}

.carousel-image {
  width: 300px;
}

.carousel-caption {
  background-color: white;
  opacity: .7;
  color: black !important;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card {
  width: 200px;
  margin: 10px;
}

.about-image {
  width: 336.4px;
  height: 519.6px;
  padding-top: 20px;
}

.about-body {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.about-text {
  padding: 20px;
}

.member-image{
  width: 350px;
}