/* Header Styling */

header {
  background-color: white;
}
.logo {
  width: 40px;
}

a {
  color: black !important;
}

a.active {
  text-decoration: underline;
}

.navbar {
  position: relative;
  z-index: 1000;
  border-bottom: .5px solid;
}

body {
  background-image: url("../src/assets/flower-banner.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: black !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 3.5rem;
}

/* Home Styling */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.home-contents {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.home-banner {
  width: 850px;
  padding-bottom: 50px;
}

.home-image {
  display: flex;
  justify-content: center;
}

/* Home - Newest Arrivals */

.newest-arrivals-containter {
  display: flex;
  flex-direction: column;
}

/* Home - Carousel */

.carousel {
  width: 600px;
}

.carousel-inner {
  background-color: white;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  filter: invert(1);
}

.carousel-image {
  width: 300px;
}

.carousel-caption {
  background-color: white;
  opacity: .7;
  color: black !important;
}

.about-image {
  width: 336.4px;
  height: 519.6px;
  padding-top: 20px;
}

.about-body {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.about-text {
  padding: 20px;
}

.member-image{
  width: 350px;
}

/* PerfumeIndex Styling */

.index-body {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-content {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 150px;
}

/* PerfumeNew and PerfumeEdit Styling */

.content-body {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.form-group {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
}

input.form-input {
  min-width: 400px;
  max-width: 400px;
  margin-left: 20px;
}

.submit {
  display: flex;
  justify-content: center;
}

/* SignIn and SignUp Styling */

.sign-content-body {
  display: flex;
  justify-content: center;
}

.sign-form-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
  text-align: center;
}

.sign-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sign-form-group-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.sign-form-group {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  height: 38px;
}

input.sign-form-input {
  min-width: 400px;
  max-width: 400px;
  margin-left: 20px;
  height: 38px;
}

.sign-submit {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.sign-submit-button {
  height: 38px;
  width: 77.17px;
}

/* NotFound Styling */

.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer */

footer {
  color: black;
  font-size: 12pt;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 3.5rem;
  border-top: .5px solid;
  background-color: white;
}

footer a {
  color: black !important;
}

.footer-link {
  margin-left: 5px;
  margin-right: 5px;
}

